.body-wrapper {
    display: flex;
    justify-content: space-around;
}

.board {
    border: 1px solid black;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 300px;
    width: 300px;
}

.board-box {
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;
}

.player-wrapper {
    max-width: 300px;
}

.player-form {
    display: flex;
    flex-direction: column;
}

.input-field,
.submit-btn {
    margin: 5px;
}